@use '../base/variables' as *;
@use '../utilities/mixins' as *;

/* estilos main */
/*main de index */
main {
    &.main-grid {
        @extend .grid; // Usa los estilos de la clase .grid
        grid-template-rows: repeat(3, auto);
        row-gap: 30px;
        width: 100%;
    }

    &.grid {
        background-color: #f5f5f5;
        @include grid();
        grid-template-rows: 1fr;
        row-gap: 30px;
        width: 100%;
    }

    .productos {
        background-color: #ffffff;
        margin: 15px;
        padding: 20px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        gap: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);

        .tarjeta-producto {
            background-color: $color2;
            color: white;
            padding: 10px;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
            }

            img {
                width: 40%;
                height: 80%;
                object-fit: cover;
            }

            h3 {
                margin-top: 10px;
                font-size: $h3;
            }

            p {
                font-size: $p;
                margin-top: 5px;
            }

            .btn {
                background-color: #231f21;
                color: white;
                padding: 5px 10px;
                border-radius: 3px;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }
                &:active {
                    transform: scale(0.9);
                }
            }
        }
    }

    /* estilos main contacto */
    .formulario-contacto {
        background-color: $color1;
        margin: 40px;
    }

    &.sobre-nosotros {
        background-color: $color2;
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 40px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .titulo-sobre-nosotros {
            font-size: $rem;
            color: $colorWhite;
            text-align: center;
            margin-bottom: 20px;
        }

        .informacion {
            .texto {
                font-size: 1rem;
                color: $colorWhite;
                text-align: justify;
                margin-bottom: 15px;
            }
        }

        .imagen {
            .contenedor-imagen {
                margin-top: 20px;
            }

            .foto-perro {
                display: block;
                margin: 0 auto;
                max-width: 100%;
                height: auto;
            }
        }
    }

    &.formulario-contacto {
        background-color: $color1;
        margin: 40px;
    }
}